[submodule "Frameworks/iOS-Indoor-SDK"]
	path = Frameworks/iOS-Indoor-SDK
	url = git@github.com:Estimote/iOS-Indoor-SDK.git
[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
